.wrapper-1{
  display: flex;
  overflow: hidden;
}
.right{
  display: flex;
  width: 50vw;
  height: 100vh;
  background-color: #F84A43;
}
.left{
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  
}
.header{
  margin-top: 60px;
  display: flex;
  align-items: center;

}
.input-column{
  display: flex;
  flex-direction: column;
  margin-top: 30%;
}
.small-placeholder{
  width: 700px;
  padding: 20px;
  margin-bottom: 25px;
}