.center{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 18vh;
    overflow: hidden;
    color: #544B4C;
}
.error-title{
    font-size: 140px;
    margin-bottom: 35px;
}
.error-text{
    font-size: 45px;
    margin-bottom: 15px;
}
.error-desc{
 font-size: 25px;
}