header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px var(--main-x-padding);

}

.menu{
  position:absolute;
  z-index: 2;
  background-color: var(--dark);
  padding: 30px;
}

.hamburger-list{
  position: relative;
  width: 50px;
  height: 50px;
  gap: 8px;
  cursor: pointer;
  overflow: hidden;
}

.hamburger-list span{
  position: absolute;
  width: 80%;
  height: 4px;
  border-radius: 12px;
  background-color: var(--dark);
  left: 50%;
  transform: translate(-50%);
  transition: all .15s ease-in-out;
}

.hamburger-list span:nth-child(1){
  top: 10px;
}.hamburger-list span:nth-child(2){
  top: 20px;
}.hamburger-list span:nth-child(3){
  top: 30px;
}

.hamburger-list.active-list span:nth-child(1){
  transform: translate(-50%,15px) rotate(40deg);
}.hamburger-list.active-list span:nth-child(2){
  transform: translateX(-200%);
}.hamburger-list.active-list span:nth-child(3){
  transform: translate(-50%, -5px) rotate(-40deg)
}

.profile-pic{
  cursor: pointer;
}