.form{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--dark);
  border-radius: 12px;
  padding: 70px 50px 20px  50px;
  width: 500px;
}

.form input, select{
  padding: 15px;
  width: 100%;
  font-size: 1rem;
  background-color: white;
  border-radius: 12px;
  border: 1px solid var(--dark);
}
.form input:focus{
  border: 1px solid white, 1px solid var(--dark)
}
.form h1{
  position: absolute;
  top:-60px;
  padding: 5px;
  font-size: 5rem;
  color: var(--dark);
  background-color:white;
}

.form p{
  font-size: 1.2rem;
  align-self: flex-start; 
}

.form .form-small{
  font-size: .8rem;
  margin-bottom: 10px;
}

.form-small a{
  color: var(--red);
}

.form-inner{
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-inner label{
  width: 80%;
}